data_dir        = "{{ ConsulDataDir }}"
node_name       = "{{ ConsulNodeName }}"
bind_addr       = "{{ ConsulBindAddress }}"
server          = false
datacenter      = "global"
retry_join      = "{{ ConsulRetryJoin }}"
raft_protocol   = 3
client_addr     = "0.0.0.0"